:root{             
    --vermelho:#e50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: rgb(255, 255, 255);
}

header #container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: "Arial Black", Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: rgb(170, 170, 170);
    margin-right: 20px;
}

header nav a:hover{
    color: rgb(255, 255, 255);
}

/*filmes-principal*/

.filmes-principal{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/capa.jpg');
    font-size: 16px;
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filmes-principal .sinopse{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.filmes-principal .titulo{
    margin-top: 25%;
    font-size: 40px;
    font-family: "Trebuchet", Arial, sans-serif;
}

.filmes-principal .btn{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: rgb(255, 255, 255);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;

}
.btn i{
    margin-right: 8px;
}

a{
    text-decoration: none;
}

.container{
    margin-left: 20px
}

.filmes-principal .container{
    width: 70%;
}

.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrocel-filmes{
    margin-top: 20px;
}

.categoria{
    padding-left: 15px;
    margin-top: 20px;
}

.categoria-terror{
    padding-left: 15px;

}

.rodape{
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 10px;
    font-weight: bold;
    line-height: 0.5cm;
    text-align: center;
}

.perfil{
    color: rgb(255, 255, 255);
    text-decoration: none;
    word-spacing: 7px;
}



